body {
	height: 100%;
	width: 100%;
	/*background-image: linear-gradient(to bottom right, #F6AD90 , #887CAF);*/
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
.left_nav,
.right {
	float: left;
}
.left_nav {
	width: 18%;
	/*outline: 1px dashed  white;*/
	color:white;
}
/*@media screen (max-width: 900px){
	
}*/
.logo {
   height: 50px;
   line-height: 50px;
   position: relative;
   background: rgba(0,0,0,.2);

}
.logo img {
	position: absolute;
	left: 20px;
    top: 10px;
    display: inline-block;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}
.logo span {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
.left_nav>ul {
	padding-top: 50px;
}
.left_nav>ul>li {
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.left_nav>ul>li a {
	color: white;
	text-decoration: none;
}
.left_nav>ul>li>span:first-of-type {
	position: absolute;
	top: 0px;
	left: 10px;
}
.left_nav>ul>li>span:nth-of-type(2) {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 45px;
	width: 5px;
	background-image: linear-gradient(to right, rgba(0,0,0,.3) , rgba(0,0,0,.0));
	transition: all 0.2s;
}
.left_nav div>ul>li a:hover {
  color: #D9544F;
}
.add {
	position: absolute;
	right: 10px;
	top: 0px;
	color: #554D48;
}
.left_nav>ul>li>div {
	margin-left: 50px;
	display: inline-block;
}
.right {
	width: 82%;
}
.top_nav {
	height: 50px;
	/*border-bottom: 1px solid red;*/
	position: relative;
	background: rgba(0,0,0,.1);
}
.top_nav>.nav_item {
	position: absolute;
	top: 0px;
	right: 10px;
	height: 45px;
	line-height: 45px;
	color: white;
	
}
.top_nav>.nav_item img {
	width: 45px;
	height: 45px;
	margin-right: 5px;
}
.top_nav>.nav_item span {
	padding: 0 10px;
	font-size: 14px;
	cursor: pointer;
	border-left: 1px solid #A07F77;
}
.top_nav>.nav_item span:first-of-type {
	color: black;
}
.top_nav>.nav_item span:hover {
	color:#D9544F;
}
.right iframe {
	width: 100%;
	padding:40px 10px 10px 10px;

}